@charset "utf-8";

.facility {
    background-color: #f8f8f8;
    padding-top: 45px;
    padding-bottom: 55px;
}
.facility h2 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
.facility h2::after {
    content: '';
    display: block;
    width: 6em;
    height: 3px;
    background-color: #000000;
    margin-top: 4px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 12px;
}
.facility-list {
    list-style: none;
    padding: 0;
}
.facility-list dl {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
}
.facility-list dt {
    font-size: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 60px;
    padding-right: 60px;
    text-align: left;
}
.facility-list dt::after {
    content: '';
    display: block;
    width: 15em;
    height: 2px;
    background-color: #000000;
    margin-top: 4px;
    margin-left: 0;
    margin-right: auto;
    margin-bottom: 3px;
}
.facility-list dd {
    font-size: 18px;
    line-height: 1.8;
    padding-top: 0;
    padding-bottom: 50px;
    text-align: left;
}
.facility-list img {
    display: block;
    width: 100%;
    max-width: 700px;
    height: auto;
    margin: 0 auto;
    border: 5px solid #5c804c;
}
.slider {
    position: relative;
    max-width: 700px;
    margin: 0 auto;
}
.slides img {
    display: none;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    border: 5px solid #5c804c;
}
.slides img.active {
    display: block;
}
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255,255,255,0.8);
    border: none;
    border-radius: 30%;
    font-size: 28px;
    cursor: pointer;
    padding: 10px;
    transition: 0.2s;
}
.prev {
    left: 10px;
}
.next {
    right: 10px;
}
.prev:hover, .next:hover {
    background: rgba(255, 255, 255, 1);
}


@media (max-width: 800px) {
    .facility-list {
        padding-left: 20px;
        padding-right: 20px;
    }
    .facility-list li {
        width: 90%;
        margin: 0 auto 50px;
    }
    .facility-list dt {
        padding-left: 0;
        padding-right: 0;
    }
    .facility-list img {
        margin: 0 auto;
        border: 5px solid #5c804c;
    }
    .prev, .next {
        width: 48px;
        height: 48px;
        font-size: 24px;
    }
}